.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-container button {
    margin: 15px;  
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;

}

.grid-size-btn {
    color: white;
    background-color: black;
    font-weight: bold;
}

.clear-btn {
    background-color: white;
    font-weight: 10px;
    font-weight: bold;
}

.btn-container button:active {
    background-color: lightgray;
    transition: 0.15s;
}

.grid-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 96%;
    height: 650px;
    width: 650px;
    margin: 20px auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cell {
    border: 1px solid black;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    aspect-ratio: 1;
    transition: 0.2s;
}