.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.headings {
    text-align: center;
}

.headings h2, p {
    margin-bottom: 2px;
}

.grid-size-display {
    color: #2c3e50;
    font-size: 0.85rem;
  }

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-container button {
    margin: 15px;
    border: 1px solid #2c3e50;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.grid-size-btn {
    color: white;
    background-color: #2c3e50;
}

.clear-btn {
    color: #2c3e50;
    background-color: white;
}

.btn-container button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
.btn-container button:active {
    background-color: lightgray;
    transition: 0.15s;
}

.grid-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    width: 96%;
    max-width: 500px;
    height: 96vw;
    max-height: 500px;
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5px;
  }
  
  .cell {
    flex: 0 0 calc(100% / var(--grid-size));
    border: 0.5px solid black;
    box-sizing: border-box;
    transition: 0.2s;
    aspect-ratio: 1;
    margin-bottom: -0.5px;
  }